<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386302893546-k1i5bnb5j5c8uuhsmh44cctuakas8qb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386302893546-k1i5bnb5j5c8uuhsmh44cctuakas8qb8</string>
	<key>API_KEY</key>
	<string>AIzaSyAlqNqbBi8d9gPItDH3B3QH0YHZ47nhvjg</string>
	<key>GCM_SENDER_ID</key>
	<string>386302893546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alertDialog</string>
	<key>PROJECT_ID</key>
	<string>fir-login-e8a7c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-e8a7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386302893546:ios:a0eb71f5517261da0ee693</string>
</dict>
</plist>